<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/x-icon" href="{{ asset('icon.ico') }}"/>
  <title>{{ file.filename }}</title>
</head>
<body id="page-admin-log-content">
<pre>
{{ file.contents }}
</pre>
</body>
